@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* Force override everything */
html, body, #root, .app, .main {
  margin: 0 !important;
  padding: 0 !important;
  min-height: 100% !important;
}

/* Light mode background */
body {
  background-color: white;
}

/* Dark mode background */
html.dark body {
  background-color: black;
}

/* Hide scrollbars */
::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none; /* Firefox */
}
